.containerInput{
  width: 100%;
  display: flex;
}

.containerInput input{
  width: 100%;
  border: none;
  background-color: var(--lightGrayishBlue);
  text-align: center;
  font-weight: bold;
  font-family: var(--ff);
  font-size: 1em;
  height: 50px;
}

.containerInput button{
  height: 50px;
  width: 50px;
  background-color: var(--lightGrayishBlue);
  border: none;
  cursor: pointer;
  display: grid;
  place-content: center;
  transition: all .3s ease-in-out;
}

.containerInput .buttonMinus{
  border-radius: 10px 0px 0px 10px;
}

.containerInput .buttonPlus{
  border-radius: 0px 10px 10px 0px;
}