.header{
  border-bottom: 2px solid var(--lightGrayishBlue);
}

.header .headerContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 1rem;
}

@media screen and (min-width: 468px) {
  .header{
    border-bottom: 0px solid var(--lightGrayishBlue);
  }
  
  .header .headerContainer{
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid var(--lightGrayishBlue);
    padding-inline: 0rem;
  }
}

@media screen and (min-width: 800px) {
  .header .headerContainer{
    padding-block: 0rem;
  }
}